@import '../../../@theme/styles/themes';

@include nb-install-component() {

  .pie-chart {
    display: block;

    text-align: center;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

    ::ng-deep {
      .pie-label {
        fill: nb-theme(text-basic-color);
      }

      text {
        fill: nb-theme(text-hint-color);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(background-basic-color-2);
        }

        .legend-label {
          color: nb-theme(text-hint-color);

          .active .legend-label-text {
            color: nb-theme(text-basic-color);
          }
        }
      }

      .total-value,
      .item-value,
      .item-percent {
        line-height: 2.25;
      }


    }
  }

}
