<form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="form-group">
        <label class="label" for="name">Name</label>
        <input nbInput fullWidth type="text" formControlName="name" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="label" for="ipv4">IPV4</label>
        <input nbInput fullWidth type="text" formControlName="ipv4" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="label" for="ipv4Mask">Mask</label>
        <input nbInput fullWidth  type="number" formControlName="ipv4Mask" class="form-control"/>
    </div>
    <div class="form-group">
        <nb-toggle status="info" labelPosition="left">DMZ ?</nb-toggle>
    </div>
    <div class="form-group">
        <nb-toggle status="info" labelPosition="left">WIFI ?</nb-toggle>
    </div>
    <div class="form-group wrapper">
        <button nbButton class="actionButton" [disabled]="loading" *ngIf="this.accountService.role.omnisUpdatePermission" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save</button>

        <button nbButton class="actionButton" [disabled]="loading2" *ngIf="this.accountService.role.omnisDeletePermission" type="button" (click)="onDelete()">
        <span *ngIf="loading2" class="spinner-border spinner-border-sm mr-1"></span>Delete</button>
    </div>
</form>
